/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
}

/* Header Section */
.header{
    margin-top: 40px;
    position: absolute;
    top: 0;
    z-index: 100;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
}

.header .logo {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}

.header nav ul {
    border: 0.25px solid rgba(255, 255, 255, 1);
    border-radius: 100px;
    padding: 6px 40px;
    display: flex;
    list-style: none;
    gap: 72px;
    background-color: rgba(255, 255, 255, 0.1);
}

.header nav ul a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    transition: color 0.3s ease;
}


header nav ul li a:hover {
    color: #f0c14b;
}

.login-btn {
    background-color: #fff;
    color: black;
    padding: 12px 80px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s ease;
}
.login-btn:hover {
    background-color: #f0c14b;
}
/* Hero Section */
